*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black !important;
    color: white !important;
}

.main-container{
    height: 100vh;
    align-content: center;
    padding-inline: 10px;
}

.background-container {
    background-color: #ffffff21;
    border-radius: 20px;
    padding: 65px 45px;
    max-width: 700px;
    margin: auto;
    margin-block: 20px;
}

.heading{
    border-bottom: 1px solid #ffffff3b;
}

.light-color{
    color: #ffffff94;
}

.qr-code{
    overflow: scroll;
}

@media (max-width:450px){
    .background-container {
        padding: 45px 15px;
    }

}